* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #112D4E;
    font-family: monospace;
    font-size: 1.3rem;
    color: aliceblue;
}

.slider {
    margin: 0 auto;
    max-width: 65rem;
    padding: 2rem;
}

.radio {
    display: none;
}

.slides {
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.slides-wrapper {
    width: 400%;
    display: flex;
    transition: 0.6s;
}

.slide {
    width: 25%;
}

.controls {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.captions-wrapper {
    width: 80%;
    overflow: hidden;
}

.captions {
    width: 400%;
    display: flex;
    transition: 0.6s;
}

.caption {
    width: 25%;
}

.buttons {
    width: 15%;
    display: flex;
    justify-content: space-between;
}

label {
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #61C0BF;
    cursor: pointer;
    transition: 0.4s;
}

label:hover .btn {
    background-color: aliceblue;
}

label:active .btn {
    opacity: 0.6;
}

#radio-1:checked~.controls .buttons label:nth-child(1) .btn,
#radio-2:checked~.controls .buttons label:nth-child(2) .btn,
#radio-3:checked~.controls .buttons label:nth-child(3) .btn,
#radio-4:checked~.controls .buttons label:nth-child(4) .btn {
    border: 0.15rem solid #61C0BF;
    background-color: transparent;
}

#radio-1:checked~.controls .buttons label:nth-child(1):hover .btn,
#radio-2:checked~.controls .buttons label:nth-child(2):hover .btn,
#radio-3:checked~.controls .buttons label:nth-child(3):hover .btn,
#radio-4:checked~.controls .buttons label:nth-child(4):hover .btn {
    border: 0.15rem solid aliceblue;
}


#radio-1:checked~.slides .slides-wrapper,
#radio-1:checked~.controls .captions-wrapper .captions {
    transform: translateX(0);
}

#radio-2:checked~.slides .slides-wrapper,
#radio-2:checked~.controls .captions-wrapper .captions {
    transform: translateX(-25%);
}

#radio-3:checked~.slides .slides-wrapper,
#radio-3:checked~.controls .captions-wrapper .captions {
    transform: translateX(-50%);
}

#radio-4:checked~.slides .slides-wrapper,
#radio-4:checked~.controls .captions-wrapper .captions {
    transform: translateX(-75%);
}


@media (max-width: 48rem) {
    .controls {
        flex-direction: column-reverse;
    }

    .captions-wrapper {
        width: 100%;
    }

    .buttons {
        justify-content: center;
        gap: 1rem;
        margin-bottom: 0.3rem;
    }
}